:root {
  /* Colores Principales */
  --color-primary: #2563eb; /* Botones | Cajas*/
  --color-secondary: #64748b; /* Texto secundario */
  --bg-app: #f8fafc; /* Fondo general */
  --text-main: #1e293b; /* Texto principal */
  
  /* Tipografía */
  --font-main: 'Inter', sans-serif;
  --font-size-base: 16px;
  --font-weight-bold: 600;
}

nav a {
  color: var(--bg-app);
  text-decoration: nose;
  transition: color 0.3s ease;
   display: flex;
  justify-content: center; 
  gap: 10px;
  list-style: none;
  padding: 10px;
  margin: 0;
  background-color: #1e293b;
}
nav a:hover {
  color: var(--color-primary);
  cursor: pointer;
}
header {
  text-align: center;
  padding: 20px 0;
}
body{
  font-family: var(--font-main);
  font-size: var(-font-size-base);
  background-color: var(--bg-app);
 }
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
  color: var(--text-main);
}

h2{
  justify-content: center; 
}

p{
  color: var(--color-secondary);
}